#app{

  //header style

  .header-wrapper{
    position: relative;
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid rgb(235, 238, 245);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.08);
    .header-logo{
      position: absolute;
      top:50%;
      left: 20px;
      transform: translateY(-50%);
      width: 130px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      color: #fff;
      background: #2A75D6;
    }
    .header-right-console{
      position: relative;
      float: right;
      padding: 17px 0 21px;
      height: 22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .console-img{
        width: 20px;
        height: 20px;
        margin-right: 15.5px;
        text-align: center;
        img{
          vertical-align: bottom;
          display: inline-block;
          margin-top: 3px;
          width: 14px;
          height: 16px;
        }
      }
      .console-username{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: #1e1e1e;
        padding-right: 15.5px;
        border-right: 1px solid #d8d8d8;
      }
      .console-logout{
        margin-left: 15.5px;
        margin-right: 28px;
        font-size: 16px;
        color: #1e1e1e;
        cursor: pointer;
      }
    }
  }



//sidebar style
  .sidebar-container{
    transition: width .28s;
    width: 160px!important;
    background-color: #304156;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    .el-scrollbar__wrap{
      height: 100%;
      overflow-x: hidden !important;
    }
  }
}
.parkingos-menu{
  background: none !important;
  .el-submenu{
    font-size: 14px;
    padding: 0;
    cursor: pointer;
    position: relative;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
    white-space: nowrap;
    background: none !important;
    .el-submenu__title:hover{
      background-color: #354563;
    }
    .el-menu{
      background: none !important;
    }
  }
  .el-menu-item-group{
    background: none !important;
    .el-menu-item-group__title{
      padding: 0;
    }
    .el-menu-item:focus, .el-menu-item:hover{
      background-color: #354563;
    }
  }
}
